
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(24,24,24);
  color: #fff;
}

.main-container {
  padding-top: 70px;
}

p {
  margin-bottom: 1rem;
}

body.dark-theme hr {
  border: 1px solid #64b5f6;
}

body.light-theme hr {
  border: 1px solid #d63384;
}

hr {
  width: 5rem;
  margin: 0 auto 2rem auto;
  /* border-radius: 10px; */
}

.font-600 {
  font-weight: 600;
}